<?php 
$title = 'Delete a Title';
$this->headTitle($title);
?>

<h1><?php echo $this->escapeHtml($title); ?></h1>

<p>Are you sure that you want to delete &QUOT;<?php echo $this->escapeHtml($book->title); ?>&QUOT;</p>

<?php $url = $this->url('book',['action'=>'delete', 'id'=>$book->id]); ?>
<form action="<?php echo $url; ?>" method="POST">
    <input type="hidden" name="id" value="<?php echo $book->id; ?>"/>
    <input type="submit" name="del" value="Yes"/>
    <input type="submit" name="del" value="No"/>
</form>

<?php
